# Create a dataframr introduce some null values and use median or mode to replace those values

In [10]:
import pandas as pd
import numpy as np


df = pd.DataFrame({'Numbers': [1,2,3,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan]})

print (df)

    Numbers
0       1.0
1       2.0
2       3.0
3       4.0
4       5.0
5       NaN
6       6.0
7       7.0
8       NaN
9       NaN
10      8.0
11      9.0
12     10.0
13      NaN

# Replacing with mean

In [11]:
mean_value=df['Numbers'].mean()
print('Mean of values in column Numbers:')
print(mean_value)

Mean of values in column Numbers:
5.5

In [12]:
df['Numbers'].fillna(value=df['Numbers'].mean(), inplace=True)
print('Updated Dataframe:')
print(df)

Updated Dataframe:
    Numbers
0       1.0
1       2.0
2       3.0
3       4.0
4       5.0
5       5.5
6       6.0
7       7.0
8       5.5
9       5.5
10      8.0
11      9.0
12     10.0
13      5.5

# Difference between join and merge

Both join and merge can be used to combines two dataframes but the join method combines two dataframes on the basis of their indexes whereas the merge method is more versatile and allows us to specify columns beside the index to join on for both dataframes.

# create a data frame and add a column. add names in it and use apply function to return names whose length is greater than 5

In [13]:
import pandas as pd
import numpy as np


df = pd.DataFrame({'Names': ["Aakarsha","keerthi","kiran","sankeerthana","sahini","shainy"]})

print (df)

          Names
0      Aakarsha
1       keerthi
2         kiran
3  sankeerthana
4        sahini
5        shainy

In [14]:
df[df['Names'].str.len() > 5]

          Names
0      Aakarsha
1       keerthi
3  sankeerthana
4        sahini
5        shainy

# create a numpy array and a dataframe and concatenate them

In [15]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [16]:
data = pd.DataFrame({'X':[1,2,3],
                  'Y':[4,5, 6],
                  'Z':[7,8,9]})

In [17]:
dataframe = pd.concat([
    data,
    pd.DataFrame(np.ones((3,3)), dtype=np.int)
], axis=1, ignore_index=True)

In [18]:
dataframe

   0  1  2  3  4  5
0  1  4  7  1  1  1
1  2  5  8  1  1  1
2  3  6  9  1  1  1